.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-control.mb-2 {
  height: 50px;
  width: 100%;
}

.header-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.container p {
  margin-bottom: 30px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 10px 80px;
  background-color: #718fab;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.back-btn {
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.back-btn:hover {
  background-color: #f0f0f0;
  border-color: #aaaaaa;
}

.back-btn:focus {
  outline: none;
}

.back-btn svg {
  width: 15px;
  height: auto;
  fill: #333333;
  margin-right: 5px;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  width: calc(100% - 40px);
  padding-right: 40px;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
